@using Hospitales.Clases;
@model MedicamentoCLS
@{
    ViewData["Title"] = "Medicamentos";
    List<SelectListItem> listaFF = ViewBag.listaFF;
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Guardar" asp-controller="Medicamento" method="post" id="frm">
            <input type="hidden" asp-for="Iidmedicamento" />
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentracion"></label>
                <input asp-for="Concentracion" type="text" class="form-control" />
                <span asp-validation-for="Concentracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio"></label>
                <input asp-for="Precio" type="number" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock"></label>
                <input asp-for="Stock" type="number" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presentacion"></label>
                <input asp-for="Presentacion" type="text" class="form-control" />
                <span asp-validation-for="Presentacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IidFormaFarmaceutica"></label>
                <select asp-for="IidFormaFarmaceutica" asp-items="listaFF" class="form-select"></select>
                <span asp-validation-for="IidFormaFarmaceutica" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-4">
                <a asp-action="Index" asp-controller="Medicamento" class="btn btn-secondary">Cancelar</a>
                <input type="button" class="btn btn-primary" value="Aceptar" onclick="Enviar()" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        function Enviar() {
            mostrarModal().then(result => {
                if (result.isConfirmed) {
                    document.getElementById("frm").submit();
                } else if (result.isDenied) {
                    Swal.fire('Los cambios no se han guardado', '', 'info')
                }
            });
        }
    </script>
}



